---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "titre random";
const pubDate = "date ";
const url = "../index.astro";

const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
  <p>Articles étiquetés avec {tag}</p>
  <ul>
    {
      (
        <article>
          <p class="titre-texte">{title}</p>
          <span class="date-publication">{pubDate}</span>
          <a href={url} />
        </article>
      )
    }
  </ul>
</BaseLayout>
