---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About moi";
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";

const identity = {
  firstName: "Arnal GRUt.",
  country: "Fronccceeee",
  occupation: "Web-dé",
  hobbies: ["gribouille", "écritouille", "jeudrôlisme"]
};

const skills = ["HTML", "CSS", "Astro", "Rédaction de documentation"];
const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>    
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
    <h2>... et de mon nouveau site Astro !</h2>

    <p>Voici quelques faits me concernant :</p>
    <ul>
      <li>Je m'appelle {identity.firstName}.</li>
      <li>Je vis en {identity.country} et je travaille en tant que {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
      }
    </ul>
    <p>Mes compétences sont :</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  <h2>... et de mon nouveau site Astro !</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non leo in
    est posuere venenatis sit amet eget erat. Nulla tempus sapien a urna
    interdum semper. Integer ullamcorper eros ac pretium dapibus. Morbi auctor
    neque sit amet elementum bibendum. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Vestibulum non congue metus,
    vel cursus lectus. Donec malesuada, ipsum sed auctor faucibus, urna nibh
    laoreet ligula, a tempus tortor nisl in nisi. Phasellus risus massa,
    imperdiet eget odio ut, pharetra venenatis odio. Etiam id pharetra nibh.
    Donec porttitor velit mi, vitae ornare odio volutpat a. Proin lacinia mattis
    ante, sed ullamcorper orci facilisis non. Sed sollicitudin dui quis sodales
    molestie. Nulla venenatis placerat quam eget volutpat. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Sed id sem sed magna elementum laoreet
    quis ac ex. In rutrum metus vitae lacus laoreet, eget viverra tellus
    sodales. Vestibulum interdum, lorem vitae venenatis tempor, turpis sem
    egestas arcu, et sagittis libero ex nec ante. Pellentesque tempor enim
    condimentum, lobortis ipsum non, iaculis magna. Mauris sit amet semper
    tellus, quis fermentum orci. Quisque et pharetra elit. Nullam eget dui
    pulvinar, mollis velit nec, imperdiet risus. Cras commodo consectetur lectus
    sed suscipit. Nam condimentum ligula ante, eget suscipit felis scelerisque
    eget. Mauris quis purus dolor. Aenean ex sapien, imperdiet sed sapien a,
    suscipit mollis diam. Nunc consectetur pretium vestibulum. Pellentesque
    lobortis iaculis lacus interdum vestibulum. Pellentesque vel mi vel elit
    dapibus egestas. Suspendisse ultricies, neque a pretium ultrices, ipsum
    augue volutpat urna, id varius mauris nisl id lorem. Ut finibus et leo
    sollicitudin aliquet. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Suspendisse cursus cursus nisl
    et tempus. Donec semper id diam non dapibus. Integer sit amet consequat
    urna.
  </p>
  <h2>... la suite de ses grands morts</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non leo in
    est posuere venenatis sit amet eget erat. Nulla tempus sapien a urna
    interdum semper. Integer ullamcorper eros ac pretium dapibus. Morbi auctor
    neque sit amet elementum bibendum. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Vestibulum non congue metus,
    vel cursus lectus. Donec malesuada, ipsum sed auctor faucibus, urna nibh
    laoreet ligula, a tempus tortor nisl in nisi. Phasellus risus massa,
    imperdiet eget odio ut, pharetra venenatis odio. Etiam id pharetra nibh.
    Donec porttitor velit mi, vitae ornare odio volutpat a. Proin lacinia mattis
    ante, sed ullamcorper orci facilisis non. Sed sollicitudin dui quis sodales
    molestie. Nulla venenatis placerat quam eget volutpat. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Sed id sem sed magna elementum laoreet
    quis ac ex. In rutrum metus vitae lacus laoreet, eget viverra tellus
    sodales. Vestibulum interdum, lorem vitae venenatis tempor, turpis sem
    egestas arcu, et sagittis libero ex nec ante. Pellentesque tempor enim
    condimentum, lobortis ipsum non, iaculis magna. Mauris sit amet semper
    tellus, quis fermentum orci. Quisque et pharetra elit. Nullam eget dui
    pulvinar, mollis velit nec, imperdiet risus. Cras commodo consectetur lectus
    sed suscipit. Nam condimentum ligula ante, eget suscipit felis scelerisque
    eget. Mauris quis purus dolor. Aenean ex sapien, imperdiet sed sapien a,
    suscipit mollis diam. Nunc consectetur pretium vestibulum. Pellentesque
    lobortis iaculis lacus interdum vestibulum. Pellentesque vel mi vel elit
    dapibus egestas. Suspendisse ultricies, neque a pretium ultrices, ipsum
    augue volutpat urna, id varius mauris nisl id lorem. Ut finibus et leo
    sollicitudin aliquet. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Suspendisse cursus cursus nisl
    et tempus. Donec semper id diam non dapibus. Integer sit amet consequat
    urna.
  </p>
</BaseLayout>
