---
/* import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'; */
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.blog('./posts/*.md', { eager: true }));
const pageTitle = "Le-blogax";
const Background ="../../src/images/route-grut.png";

---

<BaseLayout pageTitle={pageTitle}>
    <div class="main">
      <div class="image-container">
        <img
          class="image-reveal"
          src={Background}
          alt="test"
        />
      </div>
    </div>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
      {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
      <!-- {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)} -->
    </ul>
</BaseLayout>