---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Gribouille";

const images = import.meta.glob<{ default: ImageMetadata }>(
	"../artwork/*.{jpg,jpeg,JPG,png,webp}",
);
---

<BaseLayout pageTitle={pageTitle}>
	<div class="galerie display-flex">
		<div class="colonne-image">
			{
				Object.entries(images).map(async ([_path, image], index) => {
					const { default: imageData } = await image();
					return (
						<div class="image cards">
							<div class="figure flow">
								<button
									class="image-button"
									popovertarget={_path}
									popovertargetaction="show"
								>
									<Image
										format="webp"
										src={imageData}
										alt=""
										loading={index < 20 ? "eager" : "lazy"}
									/>
									<div class="figcaption">
										{/* Affiche le nom de l'image - le chemin (11) et - l'extension (-4) */}
										{image.name.slice(11, -4).toLowerCase()}
									</div>
								</button>
							</div>
							<dialog popover class="image-lightbox" id={_path}>
								<div class="image-lightbox--img">
									<Image
										format="webp"
										src={imageData}
										alt=""
										loading={index < 20 ? "eager" : "lazy"}
									/>
								</div>
							</dialog>
						</div>
					);
				})
			}
		</div>
	</div></BaseLayout
>
<style>
	html#Gribouille .colonne-image:has(.image-lightbox:popover-open) {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: var(--black);
			opacity: 0.8;
		}
	}
	.image.cards {
		& .figure.flow {
			width: inherit;
			border-radius: 8px;
			overflow: hidden;
			position: relative;
			max-height: fit-content;
			height: 400px;
			display: flex;
			align-items: center;

			& button.image-button {
				border-radius: 0.25rem;
				border: none;
				cursor: pointer;
				width: 100%;
				padding: 0;
				height: inherit;

				&:hover img {
					filter: none;
					transform: scale(1.005);
					overflow: visible;
				}

				& img {
					width: 100%;
					object-fit: cover;
					margin: auto;
					border-radius: 0.2rem;
					filter: grayscale(80%);
					transition: all 0.2s ease;
					max-height: 100%;
				}
			}
		}
		& .image-lightbox {
			display: none;
			opacity: 0;
			pointer-events: all;
			position: fixed;
			min-width: 80vw;
			max-width: 90vw;
			height: fit-content;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			padding: 0;
			border: 0;
			background: transparent;
			overflow: visible;
			transition: all 0.2s ease;

			&:popover-open {
				display: grid;
				align-content: center;
				gap: 0.5rem;
				opacity: 1;
				color: var(--white);
			}

			& .image-lightbox--img {
				display: flex;
				overflow: auto;
				width: 100%;
				height: fit-content;
				max-height: 90vh;
				max-width: 40vw;
				justify-self: center;

				& img {
					width: 100%;
					height: auto;
					margin: auto;
					border-radius: 0.2rem;
					background-color: transparent;
					object-fit: contain;
				}
			}
		}
	}

@media and screen (width < 835px) {
	.image-lightbox--img {
		max-width: 	none;
	}
}
</style>
