---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
	import.meta.glob("./posts/*.md", { eager: true }),
);

const tags = [
	...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Ecritouille";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="contenu-page display-flex direction-row">
		<div class="main">
			<h1 class="soustitre-page">{pageTitle}</h1>
			{
				allPosts.map((post: any) => (
					<BlogPost
						url={post.url}
						title={post.frontmatter.title}
						pubDate={post.frontmatter.pubDate}
						author={post.frontmatter.author}
						title={post.frontmatter.title}
						contexte={post.frontmatter.contexte}
						enonce={post.frontmatter.enonce}
						tags={post.frontmatter.tags}
					/>
				))
			}
		</div>
	</div>
</BaseLayout>
<style>
	.main {
		max-width: 60rem;
		margin: 0 auto;
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: masonry;
	}
</style>
