---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
// import ArtCard from "../components/ArtCard.astro";

const pageTitle = "Gribouille";
const allArts = (await getCollection("grutArt")).sort(
	(a, b) => Date.parse(b.data.img_date) - Date.parse(a.data.img_date),
);
---

<BaseLayout pageTitle={pageTitle}>
	<div class="galerie display-flex">
		<div class="colonne-image">
			{
				allArts.map((art) => (
					<div class="image cards">
						<div class="figure flow">
							<button
								class="image-button"
								popovertarget={`grib-${art.id}`}
								popovertargetaction="show"
							>
								<Image
									src={art.data.image.source}
									alt={art.data.image.img_alt}
									width="1200"
									height="400"
								/>
								<div class="figcaption">
									{art.data.img_name}
								</div>
							</button>
						</div>
						<dialog
							popover
							class="image-lightbox"
							id={`grib-${art.id}`}
						>
							<div class="image-lightbox--img">
								<Image
									src={art.data.image.source}
									alt={art.data.image.img_alt}
									width="1200"
									height="400"
								/>
							</div>
						</dialog>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
