---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import proto_projet_1 from "../images/visuels-webouille/proto-depart-projet-pf.png";
import proto_projet_2 from "../images/visuels-webouille/Charte-graphique-v1-2.png";
import proto_projet_3 from "../images/visuels-webouille/Old-proto-avant-2020-2.png";
import proto_projet_4 from "../images/visuels-webouille/proto-site-2024.png";
import proto_projet_5 from "../images/visuels-webouille/structure-astro-de-base.png";

// import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Webouille";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="webouille-main display-flex">
    <h1>{pageTitle}</h1>
    <section class="webouille-todo display-flex">
      <div class="display-flex">
        <div>
          <h2 class="soustitre-page">Todo list</h2>        
          <p style="font-size: 1rem;">Maj : 04 mai 2026</p>
        </div>
        <ul>
          <li>&rsaquo;_</li>
          <li>Décrire les choix design / techniques</li>
          <li>Retravailler la version Firefox de l'accueil</li>
          <li>Corriger/alléger le css</li>
          <li>Corriger la galerie de gribouilles</li>          
          <li>Utiliser component astro + collection d'images "Webouille"</li>
          <li>Intégrer les nouvelles flèches de retour section précédente</li>
          <li>Ajout flux rss</li>
        </ul>
      </div>
    </section>
    <section class="webouille-done display-flex">
      <div class="display-flex direction-column main-done">
        <p class="trigger-warning-blabla">
          <span>! TRIGGER VARNING !</span>
          </br>« Aux allergiques de la virgule, aux angoissés du blabla et aux phobiques du mot de trop, c'est le moment : « Fuyez ! Pauvres fous ! »          
        </p>
        <p>
          J'aime bien écrire. Si ce n'est pas votre première fois sur ce site, vous ne devriez pas être surpris·e de ce que vous trouverez sur cette page. Les autres, la majorité j'imagine, je vous préviens dès maintenant, ça risque d'être assez verbeux. Il y aura aussi des photos et un peu de technique, mais je ne vais pas vous raconter d'histoire, enfin oui en fait, c'est plutôt ça l'idée, comme j'aime raconter des histoires, les origines de ce site constituant en soi une histoire, je vais la raconter. 
        </p>
        <h2 class="soustitre-page">Un peu de passif...</h2>
        <p>
          L'idée d'un site perso me trottait dans la tête depuis quelques années déjà. À l'époque, plutôt qu'un portfolio webdesign, j'étais parti sur un site sur lequel je partagerais des nouvelles. Dans cette optique, j'ai donc commis pas mal de prototypes sur papier et sur <a href="https://www.figma.com/fr-fr/" target="_blank">Figma</a> dont j'ai poussé certains jusqu'à l'animation (cf. ci-dessous). Au final, la flemme et des problèmes de compétences évident, ont toujours repoussé à plus tard la production de ces sites. De toute manière, arrivé le moment de l'intégration, syndrome de l'imposteur en bandoulière, j'aurais eu du mal à poster quoi que ce soit, ce qui au final aurait donné à ces sites des airs de coquilles vides.
        </p>
        <div class="img">
          <a href="https://www.figma.com/proto/qg2FYGixWEvQxpWFmzfn8g/ecritouilles?node-id=23-62&t=7Lj7x9PGXR3UTITO-0&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=23%3A62&show-proto-sidebar=1" target="_blank">
          <Image
            class="oldies-v1"
            src={proto_projet_3}
            alt="Écran figma d'un prototype de site sur mobil orienté contenu texte"            
          />
          </a>
        </div>
        <h2>Le reboot du projet</h2>
        <p>
          En 2020, j'ai trouvé un travail de <strong>webdesigneur/intégrateur</strong> qui m'a permis de me faire la main et surtout d'acquérir des réflexes professionnels. Je me suis amélioré auprès de mes collègues plus expérimentés et surtout, j'ai appris à travailler rapidemment, dans un cadre peu propice à la créativité.
        </p>
        <p>
          Puis est venu le temps du <em>reboot</em>. Ça a commencé en 2024, avec les copains du taf, des doutes, un ras le bol général et une envie collective de se faire un <strong>portfolio webdesigner</strong>. La première fois, on s'est donné rendez-vous un samedi après-midi au château de la Châtelaine et du CodeKeeper, pour travailler ensemble sur nos projets perso. L'idée était de miser sur l'émulation de groupe et de ne pas se laisser bouffer par la procrastination.
        </p>
        <div class="img">
          <Image
            class="Premier-proto"
            src={proto_projet_4}
            alt="Prototype 3 types d'écran"
          />
        </div>
        <p>
          Après cette première réunion, on s'est vu une paire de fois, pas forcément au complet - moi le premier j'ai raté quelques rendez-vous. Ça a toujours été de super moments, nos réunions ressemblaient à des <em>fab lab</em> sans pression, dans la bonne humeur, où le niveau de motivation était plus ou moins élevé suivant les personnes, et tout ça sous perfusion de <em>junk food</em> et de vannes foireuses. En ligne de mire on s'était programmé une dernière réunion de présentation des pf terminés.
        </p>
        <h3>Sous le haut patronage du CodeKeeper</h3>
        <p>
          Au départ, sur les conseils du CodeKeeper qui avait bien digué la question, on était parti sur une base :
          <ul class="liste-intext"> 
            <li><a href="https://gohugo.io/" target="_blank">HUGO</a> - un générateur de site statique orienté blog, basé sur le langage Go</li>
            <li><a href="https://www.netlify.com/" target="_blank">Netlify</a> comme solution d'hébergement du site</li> 
            <li>et <a href="https://github.com/?locale=fr-fr" target="_blank">GitHub</a> comme gestionnaire de version, de flux, réseau social, etc.
            </li>
          </ul>
        </p>
        <p>
        Vu qu'on était tous à peu près <em>noob</em> en matière de création de site <em>from scratch</em>, l'idée de passer par ce type d'outils était de fait une bonne idée, d'autant plus que le CK nous avait confectionné un <a href="https://antoinemoreau.contact/blog/partie-1/" target="_blank">tutoriel</a> assez complet et précis pour débuter (principalement HUGO).
        <p>
        <div class="img">
          <Image
            class="proto-img"
            src={proto_projet_1}
            alt="Double page du projet 1 sur papier + personnage bd"
          />
        </div>
        <p>
          Bon, on va pas se mentir, cette première initiative a tourné court pour des raisons diverses et plus ou moins sérieuses, allant du licenciement à des voyages à l'autre bout du monde en passant par un manque de temps et d'investissement standard. Je n'étais moi-même pas très à l'aise avec HUGO, si bien que j'ai fini par laisser pourrir le bouzin dans son coin après quelques sessions de travail.
          </p>
        <p>
          Pour ma défense, j'ai souhaité à l'origine installer HUGO sur mon vieux <em>laptop</em> qui avait déjà beaucoup de mal à lancer la moindre appli en ligne de commande et qui n'acceptait plus aucun périphérique de type écran secondaire. Alors, ça ressemble à une mauvaise idée évidemment, mais sur le moment j'ai pesé le pour et le contre :
          <ul class="liste-intext">
            <li>il fallait que je puissse trimbaler l'outil aisément, de chez moi au château. Donc pas sur ma tour</li>
            <li>argument qui découle du précédent, je ne voulais pas utiliser celui du taf,</li>
            <li>j'avais commencé à travailler dessus en local (fichiers html + css),</li>
            <li>mon vieux machin tourne sous linux (même si je le voulais je ne pourrais pas installer autre chose de toute manière) et l'installation d'un serveur local est très simple en ligne de commande.</li>
          </ul>
        </p>
        <p>
          Conclusion, sans surprise, c'était bien une idée moisie : 
          <ul class="liste-intext">
            <li>affichage en largeur max moins de 1320px,</li>
            <li>ordi en PLS 90 % du temps en raison d'un manque de mémoire,</li>
            <li>qui découle du précédent, des alt-tab de 8 ans,</li>
            <li>le branchement d'un deuxième écran toujours impossible, c'était bien l'enfer.</li>
          </ul>
          </p>
          <p>
            De fait, même si ce n'est pas le seul motif d'abandon en rase campagne, ça n'a pas aidé et j'ai fini par mettre de coté le projet en attendant des jours meilleurs. Jours meilleurs qui sont finalement arrivés assez vite l'année suivante, fort heureusement.         
          </p>            
        <p>Ah oui, j'aurais dû utiliser le laptop du taf évidemment.</p>
        <h2>2025, année du reboot du reboot</h2>
        <p>
          Le A, comme on l'appelle dans la Silicon Valley du Un Six, c'est pas le genre à se tanner la couenne au soleil quand il a quelque chose en tête, je vous invite à jeter un œil à son <a href="https://antoinemoreau.contact/" target="_blank">blog</a>. Une fois encore, c'est lui qui, continuant à fouiller le web à la recherche des meilleurs outils possibles pour sortir un site assez simplement, propre et à peu de frais, nous a dégoté une solution alternative à HUGO, en l'occurence <a href="https://astro.build/" target="_blank">Astro js,</a> un autre <em>Framework web js</em>, toujours optimisé création de blog <strong>html/css/js/md</strong>.
        </p>
        <h3>Maintenant qu'on a les bons outils (ou presque)</h3> 
        <!-- <div class="display-flex tools-icon">          
          <div>
            <img
              src="src/images/visuels-webouille/logo-astrojs.png"
              alt=""
            /><img
              src="src/images/visuels-webouille/logo-github.png"
              alt=""
            /><img
              src="src/images/visuels-webouille/logo-netlify.png"
              alt=""
            /></div>
        </div>             -->
        <p>
          <em>Astro js</em> c'est révélé être la solution idéale, notamment grâce à son tuto <a href="http://docs.astro.build/fr/tutorial/0-introduction/" target="_blank">création de blog</a> très simple à suivre. La vf est assez complète et malgré quelques problèmes de traduction ou un manque de précision relativement pénible et bloquant par moment (pas toujours très clair de savoir quand on peut adapter les noms de dossier, fichiers etc., et quand on ne doit pas du tout), on se laisse tranquillement porter jusqu'à la fin.
        </p>
        <div class="img">
          <Image
            class="astro-github-1"
            src={proto_projet_5}
            alt="Structure d'un projet astro basique : dossier public, src contenant les pages, asset etc, et fichier package.json"
          />
        </div>
        <p>
          Avant ça
        </p>
        </p>
        <p>
          
        </p>
        <div class="img">
          <Image
            class="Charte-graphique"
            src={proto_projet_2}
            alt="Charte graphique"
          />
        </div>
      </div>
    </section>
    <div class="overlay-done"></div>
  </div>
</BaseLayout>
<style>
  /* Fuyez pauvres fous ! Manque le gif du G */
  html#Webouille body .webouille-main .trigger-warning-blabla {
    background: var(--yellow);
    transform: rotate(-2deg) translateX(-4rem);
    font-family: "Chelsea Market", system-ui;
    color: var(--black);
  }

  div:has(.tools-icon) {
    display: flex;
    flex-direction: row;
    & .tools-icon div {
      display: flex;
      height: fit-content;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      gap: 1rem;

      & img {
        height: 5rem;
        padding: 1rem;
        background: var(--white);        
      }
    }
  }
  div.img {
    position: relative;
    z-index: 0;      
    display: flex;
    align-items: center;
    
    & img {      
      object-fit: contain;         
    }
    &:after {
      content:"";
      position: absolute;      
      bottom: -1.3rem;
      right: 0%;
      background-color: var(--white);
      z-index: 1 ;
      padding: 0 1ch;  
      font-size: 1rem;
      font-style: italic;   
      height: fit-content;
      max-width: 20%;
      min-height: 80px;
      min-width: 240px;
      transform: rotateZ(-7deg) translateX(3rem);
      padding: 0.8rem;
      transition: 0.15s; 
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
      transform: rotateZ(-5deg) translateX(0);
    }    
    &:has(.proto-img):after {
      content:"Double page du projet 1 sur papier + personnage bd";
    }
    &:has(.oldies-v1):after {
      content:"Version prototype Figma de ma maquette de site 2019. Cliquez sur l'image pour accéder à la démo";
    }
    &:has(.Charte-graphique):after {
      content:"Charte graphique";
    }  
    &:has(.Premier-proto):after {
      content:"Première version de l'accueil du site sur 3 écrans";
    }    
    &:has(.astro-github-1):after {
      content:"Structure d'un projet astro basique avec dossiers public, src contenant les pages, asset etc, et un fichier package.json";
    }    
  }
  .webouille-main {
    position: relative;
    flex-direction: row;
    width: 100%;
    background: var(--black) url(../images/visuels-webouille/fig_3.png);
    z-index: 1;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-blend-mode: multiply; */

    & img {
      height: fit-content;      
    }

    & h1 {
      width: 100%;
      color: var(--white);
      z-index: 2;
      font-size: 4rem;
      margin-top: 66px;
      padding-left: 32px;
    }

    & div.overlay-done {
      content: "";
      position: absolute;
      width: 100%;
      height: 30vh;
      background-image: linear-gradient(transparent 10%, var(--black) 55%);
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: var(--black);
      opacity: 0.85;
    }
  }
  section {
    z-index: 1;
    height: 100vh;
    padding-bottom: 15vh;
  }

  html#Webouille body .webouille-todo {
    width: auto;
    max-width: 20%;

    & * {
      color: var(--white);
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2vh 32px 8vh 32px;
    }
    & ul {
      color: var(--white);
      width: inherit;
      padding: 0;
      line-height: 1.2rem;

      & li {
        /* list-style: none; */
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 0.8em;
        font-family: sans-serif;
      }
      & li:first-of-type {
        font-size: 1.2rem;
        line-height: 1.5rem;
        animation: blink-todo 3.5s ease 0s infinite normal forwards;
        list-style: none;
      }
    }    
  }
  @keyframes blink-todo {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  .webouille-done {
    flex-grow: 1;
    width: auto;
    position: relative;
    max-width: 75%;  
    
    & ul.liste-intext li {
      position:relative;
      font-size: 1.2rem;

      &:before {
        content: "";        
        display: flex;
        position: absolute;
        width: 1.3rem;
        height: 1.3rem;
        /* mask: url(/src/images/visuels-webouille/icon-checked-png.png);       */
        mask: url(/src/images/visuels-webouille/check-valid-png.png);      
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        /* background: var(--white); */
        background-color: var(--yellow);
        left: -1.5rem;                   
        align-items: center;        
      }
    }

    & a {
      background-color: var(--yellow);      
    }
    
    & > div.main-done {
      max-width: 1024px;
      padding: 2vh 4vw 8vh 10vw;
      scrollbar-color: transparent transparent;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & *:is(h2, h3, p) {
        max-width: 640px;
        height: auto;
      }
      & *:is(h2, h3) {
        padding: 8px 16px 8px 0;
        width: fit-content;
      }
      & *:is(h3, p) {
        font-size: 1.3rem;
      }
      & :is(p, ul li) {
        color: color-mix(in srgb, var(--white) 90%, var(--black));
      }
      & h2 {
        font-size: 2rem;
        background: var(--white);
        color: var(--black);

        &:nth-child(even) {
          transform: rotate(2deg);
        }
        &:nth-child(odd) {
          transform: rotate(-2deg);
        }
      }
      & h3 {        
        color: var(--white);
        border-bottom: 8px dashed var(--yellow);
        padding: 0;       

        &:nth-child(even) {
          transform: rotate(-2deg);
        }
        &:nth-child(odd) {
          transform: rotate(2deg);
        }
      }
    }
  }

  @media (width < 1024px) {
    .webouille-main {
      position: relative;
      flex-direction: column;
      width: 100%;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      flex-wrap: wrap; 

      & section {
        min-width: 100%;
        height: fit-content;        
        padding: 24px;

        &:is(.webouille-todo) {
          order: 1;
        }

        & > div {
          padding: 0;
        }        
      }
    }
    & div.overlay-done {
      content: "";
      position: absolute;
      display: none;
    }
    html#Webouille body .webouille-main .trigger-warning-blabla {
      transform: none;  
    } 
  }
  @media (width < 601px ) {
    .webouille-main {

      & h1 {
        font-size: 3rem;
      }

      & h2 {
        font-size: 1.8rem;
      }

      & h3 {
        font-size: 1.2rem;
      }    
  }
  
</style>
