---
import { Image } from "astro:assets";

interface Props {
    img_id: number;
    img_path: string;
    img_alt: string;
}
const { img_id, img_path, img_alt } = Astro.props;
---

<div class="image cards">
    <div class="figure flow">
        <button
            class="image-button"
            popovertarget={img_path}
            popovertargetaction="show"
        >
            <img                
                src={img_path}
                alt={img_alt}
                loading={img_id < 20 ? "eager" : "lazy"}
            />
            <div class="figcaption">
                {img_path.slice(11, -4).toLowerCase()}
            </div>
        </button>
    </div>
    <dialog popover class="image-lightbox" id={img_path}>
        <div class="image-lightbox--img">
            <img                
                src={img_path}
                alt={img_alt}
                loading={img_id < 20 ? "eager" : "lazy"}
            />
        </div>
    </dialog>
</div>
