---
// import PostTags from "../components/postTags.astro";
const { title, url, pubDate, author, contexte, enonce } = Astro.props;
---

<div class="display-flex direction-column contenu-texte">
    <div class="carton-presentation">
        <h2>{title}</h2>
        <p class="date-et-auteur">
            <span class="date-publication"> {pubDate}</span><span>|</span><span
                class="auteur">{author}</span
            >
        </p>
    </div>
    <div class="display-flex direction-column container-paragraph introduction">
        <h3>Présentation / contexte</h3>
        <p>{contexte}</p>
        <h3>Énoncé</h3>
        <p>{enonce}</p>
    </div>
    <div class="display-flex boite-contrainte">
        <div>
            <h3>Contraintes</h3>
            <ul class="tags">
                <!-- {tags.map((tag) => <PostTags tag={tag} />)} -->
                <li class="tag">test</li>
                <li class="tag">test test</li>
                <li class="tag">test test test</li>
                <li class="tag">test test</li>
                <li class="tag">test</li>
            </ul>
        </div>
    </div>
    <a href={url}></a>
</div>

<!-- Style -->
<style>
    p.date-et-auteur {
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    div.contenu-texte {
        border-bottom: 2px dashed var(--black);
    }
</style>
