---
// import PostTags from "../components/postTags.astro";
const { title, url, pubDate, author, contexte, enonce } = Astro.props;
---

<div class="display-flex direction-column presentation">
    <div class="display-flex carton-presentation direction-column">
        <h2>{title}</h2>
        <p class="date-et-auteur">
            <span class="date-publication"> {pubDate}</span><span>|</span><span
                class="auteur">{author}</span
            >
        </p>
    </div>
    <div class="display-flex introduction direction-column">
        <h3>Présentation / contexte</h3>
        <p>{contexte}</p>
        <h3>Énoncé</h3>
        <p>{enonce}</p>
    </div>
    <div class="display-flex boite-contrainte">
        <h3>Contraintes</h3>
        <ul class="tags">
            <!-- {tags.map((tag) => <PostTags tag={tag} />)} -->
            <li class="tag">test</li>
            <li class="tag">test test</li>
            <li class="tag">test test test</li>
            <li class="tag">test test</li>
            <li class="tag">test</li>
        </ul>
    </div>
    <a href={url}></a>
</div>

<!-- Style -->
<style>
    p.date-et-auteur {
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    div.contenu-texte {
        border-bottom: 2px dashed var(--black);
    }
    .contenu-page .main {
        max-width: 1280px;
        padding: 3vh 1rem 3vh 1rem;
        gap: 1rem;
        max-height: fit-content;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;

        & .display-flex.direction-column.presentation {
            max-width: calc(640px - 4ch);
            width: 100%;
            border-bottom: 2px dashed var(--black);
            padding: 24px;
        }
    }
    .display-flex.direction-column.contenu-texte {
        padding: 3vh 24px;
        max-width: 672px;
        position: relative;
    }
</style>
