---
// import Tag from "../pages/tags/[tag].astro";

// import PostTags from "../components/postTags.astro";
const { title, url, pubDate, author, contexte, enonce } = Astro.props;
const { tags } = Astro.props;
// const tags import {  } from "module";
---
<a class="lien-post" href={url}>
    <div class="display-flex direction-column presentation">
        <div class="display-flex carton-presentation direction-column">
            <h2>{title}</h2>
            <p class="date-et-auteur">
                <span class="date-publication">
                    {pubDate.toString().slice(0, 10)}</span
                >
                <span>|</span><span class="auteur">{author}</span>
            </p>
        </div>
        <div class="display-flex introduction direction-column">
            <h3>Présentation / contexte</h3>
            <p>{contexte}</p>
            <h3>Énoncé</h3>
            <p>{enonce}</p>
        </div>
        <div class="display-flex boite-contrainte">
            <h3>Contraintes</h3>
            <ul class="tags">
                {
                    tags.map((tag: string) => (
                        <li class="tag">
                            <a href={`/tags/${tag}`}>{tag}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</a>

<!-- Style -->
<style>
    a.lien-post { 
        & .carton-presentation {
            display: flex;
            flex-direction: column;
            
            & .container-paragraph.introduction {
                min-width: 100%;
            }
        }

        & h2 {
            font-size: 1.5rem;
        }

        & h3 {
            font-size: 1.2rem;
            line-height: 3.5ch;
        }

        & p.date-et-auteur {
            font-size: 0.8rem;
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        & div.contenu-texte {
            border-bottom: 2px dashed var(--black);
        }

        & .display-flex.direction-column.presentation {
            max-width: calc(640px - 2rem);
            width: 100%;
            border: 2px dashed var(--white);
            padding: 8px;
            transition: background 0.1s ease;
            border-radius: 4px;
            position: relative;

            & p {
                font-size: 1rem;
            }

            &:hover {
                /* background: var(--white); */
                background: color-mix(in srgb, var(--white) 25%, transparent);
            }
        }

        & .display-flex.direction-column.contenu-texte {
            padding: 3vh 24px;
            max-width: 672px;
            position: relative;
        }

        & .display-flex.boite-contrainte {
            flex-wrap: wrap;
            gap: 1rem;
        }

        & .display-flex.boite-contrainte div:not(:has(ul)) {
            width: 100%;
            max-width: calc(33% - 0.34rem - 48px);
        }

        & ul.liste-contraintes {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 0.5rem;
            padding: 1ch 0;
            flex-wrap: wrap;

            & li {
                font-size: 0.9rem;
                font-weight: 400;
                font-family: "Source Serif 4", serif;
                padding: 0.5ch 1ch;
                border-radius: 4px;
                background-color: color-mix(
                    in srgb,
                    var(--background) 60%,
                    transparent
                );
                min-width: fit-content;
                transition: background 0.3s ease;

                &:hover {
                    background: var(--black);
                    color: var(--white);
                }
            }
        }
        & ul.tags {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            font-size: 0.8rem;
            line-height: 2ch;
            padding-bottom: 1ch;
            display: flex;
            margin-left: 0;
            padding-left: 0;
        }

        & ul.tags li.tag {
            font-size: 0.8rem;
            font-weight: 400;
            font-family: "Source Serif 4", serif;
            background: var(--white);
            padding: 1ch;
            border-radius: 4px;
            cursor: pointer;

            & a {
                text-decoration: none;
                color: var(--black);

                &::before {
                    display: none;
                }
            }
            &:hover {
                background: var(--black);
                color: var(--background);

                & a {
                    color: var(--background);
                }
            }
        }
    }
</style>
