---
const { title, url, pubDate, author, contexte, description, blueskyUri } =
    Astro.props;
---

<a class="lien-post-last" href={url}>
    <div class="display-flex direction-column presentation">
        <div class="display-flex carton-presentation direction-column">
            <p class="date-et-auteur">
                <time datetime={pubDate}
                    >{
                        new Date(pubDate).toLocaleDateString("fr-FR", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })
                    }</time
                >
                <span>|</span><span class="auteur">{author}</span>
            </p>
            <p class="sous-titre">La dernière publication</p>
            <p class="sub-title">Titre</p>
            <p class="last-pub">{title}</p>
            <p class="sub-title">Description</p>
            <p class="last-pub-desc">{description}</p>
        </div>
    </div>
</a>
<style>
/*
* Prefixed by https://autoprefixer.github.io
*/

    .lien-post-last .display-flex.direction-column.presentation {
        background: transparent;
        min-width: 460px;
        & p {
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
        }
    }
    .lien-post-last {
        padding: 16px;
        & .carton-presentation.direction-column {
            width: 65%;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            &:hover {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            & p {
                color: var(--black);
            }
        }
        & .date-et-auteur {
            font-size: 1rem;
            padding-top: 9rem;
        }
        & p.sub-title {
            font-family: chelsea market;
            text-decoration: underline;
            padding: 0.5rem 0;
        }
        /* & p[class*="last-pub"] {
            
        } */
        & .sub-title,
        p[class*="last-pub"] {
            font-size: 1.2rem;
        }
        & .presentation.display-flex.direction-column {
            padding: 0;
        }
    }
    .lien-post-last .carton-presentation.direction-column {
        width: calc(100% - 32px);
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        position: relative;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;

        &:hover {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    .lien-post-last {
        padding-left: 0;
        & .carton-presentation.direction-column {
            width: calc(100% - 32px);
            -webkit-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
            position: relative;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            &:hover {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);

                &:before {
                    -webkit-transform: rotate(5deg);
                    -ms-transform: rotate(5deg);
                    transform: rotate(5deg);
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 8rem;
                height: 8rem;
                background: transparent url(../images/arrow-right-svg.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
                left: 4rem;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
            }
        }
    }

    @media (width < 835px) {
        body
            .redirection-card-ecritouille
            .presentation.display-flex.direction-column
            .ambiance
            div.col-pres-publication {
            width: 85vw;
        }
    }
    @media (width < 769px) {
        .lien-post-last {
            padding-left: 0;
            width: 85vw;
        }
    }
</style>
