---
const { platform, username, icon_rs } = Astro.props;
---

<!-- <a href={`https://www.${platform}.com/${username}`}>{platform}</a> -->
<li>
  <div class="cta">
    <a href={`https://www.${platform}.com/${username}`}>
      <div class={`${icon_rs}`}></div>{username}
    </a>
  </div>
</li>
