---
import { Image } from "astro:assets";
const { source, img_id, img_name, img_alt } = Astro.props;
---

<div class={`visuel-${img_id}`}>
    <Image src={source} alt={img_alt} width="1024" />
    <p class="description">
        {img_name}
    </p>
</div>
<!-- <style is:global define:vars={img_name}>
    div[class*="visuel-"]:after {
        /* content: var(--img_name); */
        content: "toto partout";
    }
</style> -->
