---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="carton-presentation">
    <h2>{frontmatter.title}</h2>
    <div class="publication display-flex direction-row">
      <p class="date-publication">{frontmatter.pubDate.toString().slice(0, 10)}</p>
      <p>Écrit par : {frontmatter.author}</p>
    </div>
		<div class="display-flex container-paragraph introduction">
      <h3>Présentation et contexte</h3>
      <p>{frontmatter.description}</p>
    </div>
  </div>
  <div class="display-flex boite-contrainte">
    <div>
    <ul class="tags">
      {frontmatter.tags.map((tag: string) => (
        <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
      ))}
    </ul>
    </div>
  </div>
  <slot />
</BaseLayout>
